* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}


:root {
    --primary-color: rgb(7, 7, 82);
    --secondary-color: rgb(255, 136, 0);
    --first-text-color: white;
    --second-text-color: rgb(2, 2, 26);

    --font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas: "sidebar header header"
                         "sidebar main-content main-content";
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100px min-content min-content; /* to make it more responsive */
    grid-template-areas: ". sidebar-header"
                         ". sidebar-content1"
                         ". sidebar-content2";
    
    justify-content: center;
    align-items: center;

    .sidebar-content1, .sidebar-content2 {
        display: grid;
        margin-top: 2rem;
    }

    .sidebar-header {
        margin-left: -12px;
        img {
            border: 1px solid rgb(136, 7, 7);
        }
    }
}

.sidebar a, .sidebar h2 {
    color: var(--first-text-color);
}

.sidebar-header {
    grid-area: sidebar-header;
}

.sidebar-content1 {
    grid-area: sidebar-content1;
}

.sidebar-content2 {
    grid-area: sidebar-content2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 2rem;
}

.group-content{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
        filter: invert(1);
    }
}


/* Header */

.header {
    grid-area: header;
    background-color: var(--first-text-color);
    box-shadow: 0px 3px 6px grey;
    padding: 1rem;
    gap: 15px;
    box-sizing: border-box;

    order:1; /* to make it appear first */

    display: grid;
}

.header-top, .header-bottom{
    display: grid;
    margin: 0 1rem;
    .search, .profil {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.search {
    flex: 3;

    margin-right: min(max(10%, 120px), 30%);
}

.search input[type=text] {
    flex : 1;
    color: var(--primary-color);
    padding: 10px 15px;
    margin:0.5rem;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(191, 191, 255);
    
    border: none;
}

.searchbar:focus {
    color: black;
}

input:focus {
    border : 1px solid var(--primary-color);
}

.profil {
    flex : 0;
    gap: 30px;
    margin-right: 1rem;
}

.header-top {
    grid-template-columns: 3fr 1fr;
    .profil {
        justify-content: flex-end;
    }

    p {
        font-weight: bold;
    }
}


.header-bottom {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    gap: 15px;
    .buttons {
        display: flex;
        flex: 0;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1rem;
        gap: 1.5rem;

        button {
            padding: 10px 25px;
            border-radius: 20px;
            border: none;
            background-color: var(--primary-color);
            color: var(--first-text-color);
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.main-content {
    grid-area: main-content;
    display: grid;
    padding: 2rem 2rem;
    gap: 2rem;
    background-color: rgb(241, 240, 255);
    grid-template-columns: 1fr 1fr minmax(250px, 1fr);
    grid-template-areas: "project-content project-content sidebar-content";
}

@media screen and (max-width: 1000px) {
    .main-content {
        display: flex;
        flex-flow: row wrap;
    }   
    .announcements {
        margin-top: 2rem;
    }

    .header-bottom {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    
}

.project-content {
    grid-area: project-content;
    display: grid;
    grid-template-rows: auto 1fr;
}

.article {
    display: grid; 
    padding: 1.5rem 0;
    gap: 2rem;
    grid-template-columns: 1fr 1fr; /* to make it more responsive */

    .card {
        .title {
            font-weight: bold;
        }
        display: flex;
        flex-direction: column;
        align-items: start;
        min-height: 200px;
        padding: 2rem 1rem 0 1rem;
        background-color: var(--first-text-color);
        border-radius: 10px;
        box-shadow: 1px 2px 5px grey; 

        border-left: 10px solid var(--secondary-color);

    }
}

.group-icons {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-self: self-end;
    gap: 15px;

    a {
        display: flex;
        img {
            width: 25px;
            height: 25px;
            align-self: flex-end;
        }
    }
}


.sidebar-content {
    grid-area: sidebar-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements, .trending {
    display: grid;
    grid-template-rows: auto 1fr;

    .title{
        font-weight: bold;
    }

    .trending-text {
        margin-top: 2.5rem;
    }
}

.announcements-content, .trending-content {
    background-color: var(--first-text-color);
    padding: 2rem 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 1px 2px 5px grey;

    display: grid;
    gap: 2rem;
    min-height: auto;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        gap: 1rem;
    }
}

.username {
    font-weight: bold;
}

.longname {
    color: gray;
}

.trending-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap : 15px;
    .user {
        display: flex;
        flex-direction: column;
    }
    img {
        width:50px;
        height:50px;
    }
}